*{
  margin: 0%;
  padding: 0%;

}

body {
    font-size: 15pt;
    background-color: #3a3735;
    color: #ffff;
    font-family:sans-serif
}

h1{
  background-color: #666462;
  display:flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  text-align: center;
  margin: auto;
  font-size: 20pt;
  border-radius: 14px 14px 0 0 ;
  margin-top: 50px;
  color: #339ef7;
  border: solid 1px #5da2da;
  width:80%;
  height: 45px;
  animation: h1 2.5s linear infinite;
  
}@keyframes h1 {
  50%{
   
   box-shadow: 0 0 20px #00ffff;
   }
   50%{
     opacity:10px ;
   }
 }
section{
  background-color: #666462;
  max-width: 600px;
  display:flex;
  margin: auto;
  margin-top: 10px;
  width:80%;
  border: solid 1px #5da2da;
  border-radius:0 0 14px 14px;
  animation: divSection 2.5s linear infinite;

}


@keyframes divSection {
  50%{
  
  box-shadow: 0 0 20px #00ffff;
  }
  50%{
 
    opacity:10px ;
  }
}
form {
  
 display: flex;
 align-items: center;
 margin: auto;
 flex-direction: column;
 margin-top: 5px;
 width: 50%;
 font-size: 1rem;
}

#hrSaida,#hrChegada {
 color: #000000;
   }
   
input {
  border-radius: 10px;
  width: 180px;
  text-align: center;
  outline: none;
  background: #00ffff;
 padding: 5px;
  color: #000000;
  margin-top: 10px;
}

#btn {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 200px;
  padding: 10px;
  background: #2f8edb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow:  1px 0px 15px black;
  }
  #btn:hover{
    background-color: #07528f;
    color: #ffff;
  }
textarea {
  outline: none;
  margin-top: 10px;
  border-radius: 9px;
  background: #00ffff;
}


p{
  margin-top: 10px;
  font-size: 15px;
}

/*saudação*/

#obrigado{
text-align: center;
margin-top: 10%;
font-size: 3rem;
}

#voltar{
  display: flex;
  margin: auto;
  width: 45px;
  margin-top: 15%;
  background-color: #2f8edb;
  text-decoration: none;
  padding: 16px 25px;
  border-radius: 8px;
 font-size: large;
 transition: 0.3s;
 
}
#voltar:hover{
  background-color: #07528f;
  color: #ffff;
  rotate: 360deg;
}
